<div class="">
  <form class="" action="/tasks" method="get">
    <button type="submit">my tasks</button>
  </form>
  <form action="/auth/login" method="get">
    <button type="submit">Login</button>
  </form>
</div>
