<div class="">
  <form action="/auth/login" method="get">
    <button type="submit"  action="/login">Login</button>
  </form>
  <form  action="/create" method="post">
    <input type="text" name="name" placeholder="task name">
    <input type="submit" name="name" value="make">
  </form>
</div>
