<div class="">
  {{#if username}}
    <form  action="/task/create" method="post">
      <input type="text" name="name" placeholder="task name">
      <input type="submit" value="make">
    </form>
  {{else}}
  <form action="/auth/login" method="get">
    <button type="submit">Login</button>
  </form>
  {{/if}}

</div>
