<div>

  <form class="" action="/login" method="post">
    <input type="text" name="username" value="username">
    <input type="text" name="password" value="password">
    <input type="button"  value="Login">
  </form>
  <br>
  <input type="button" action="/register"value="Register">
</div>
