<div>
  <form action="/auth/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button type="submit">Login</button>
  </form>
  <br>
  <form action="/auth/register" method="get">
    <button type="submit">register</button>
  </form>
</div>
