<div>
  <form class="" action="/auth/register" method="post">
    <input type="text" name="username" value="">
    <input type="text" name="password" value="">
    <button type="submit">Register</button>
  </form>
</div>
